<!DOCTYPE html>
<html lang="en"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

	<head th:replace="layouts/fragments :: head-min"></head>

<body>

	<div th:replace="layouts/navigation :: nav-public"></div>
	
	<div th:replace="layouts/fragments :: banner"></div>

	<!-- Login error alert -->
	<div th:if="${param.error}" class="alert alert-danger alert-dismissable fade in">   
		<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a> 
		<p class="text-center"><strong>Warning!</strong> Invalid username and password.</p>
	</div>
	<!-- Logout confirmation -->	
	<div th:if="${param.logout}" class="alert alert-success alert-dismissable fade in"> 
		<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a> 
		<p class="text-center"><strong>Alert!</strong> You have successfully logged out.</p>
	</div>	
	
    <!-- Page Content -->
    <div class="container">

        <!-- Main Section -->
  
            <div class="col-lg-12">
                <h2 class="page-header">
					Welcome to Data Reviews Online
                </h2>
            </div>
            <div class="col-md-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4><i class="fa fa-fw fa-check"></i> What is Dareon?</h4>
                    </div>
                    <div class="panel-body">
                        <p>Data Reviews Online (Dareon) is an application that assists in the process of submission and review of proposals for the inclusion of datasets into a data repository. It helps with the management of Calls for Proposals and the associated proposal review process. Dareon also includes classification schemes to help match Reviewers with appropriate Proposals.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4><i class="fa fa-fw fa-gift"></i> Getting Started</h4>
                    </div>
                    <div class="panel-body">
                        <p>Dareon is designed to help Repository Owners, Dataset Owners, and Proposal Reviewers.</p> 
                        <p>To get started, log in via the Australian Access Federation and updated your profile. Then you will be able to: manage your repositories, submit proposals, or register as a reviewer, depending on your role.</p>
                    </div>
                </div>
 			</div>
 			<div class="col-md-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4><i class="fa fa-fw fa-compass"></i> Latest News</h4>
                    </div>
                    <div class="panel-body">
                        <p>July 2017. Welcome to Dareon!</p> 
						<p>This is the initial release of the application. It is envisioned that subsequent releases will expand and enhance the process supported by Dareon.</p>
						<p>See the website for more information. http://dareon.org</p>
                    </div>
                </div>
            </div>

     </div>
    <!-- /.container -->	

	<div th:replace="layouts/fragments :: bodybottom-scripts-min"></div>

	<footer th:replace="layouts/fragments :: footer"></footer>
		
</body>
</html>