<!DOCTYPE html>
<html lang="en"
	xmlns:th="http://www.thymeleaf.org"
	layout:decorator="layouts/main">
<head>
	<title>Dareon: Call For Proposals</title>
</head>
<body>
		
	<div layout:fragment="content">
		
		<div class="row">
		
		    <div class="col-lg-12">
                <h1 class="page-header">
					Call for Proposals
					<a href="/callforproposals/create" class="btn btn-danger btn-lg" role="button">Create a Call for Proposal</a>
                </h1> 
            </div>
            
 		
		
		<table class="table  table-hover table-responsive" id="callsforproposals">
            <thead>
            <tr>
                <th style="text-align:center">Title</th>
                <th style="text-align:center">Created On</th>
                <th style="text-align:center">Associated Repository</th>
                <th style="text-align:center">Manage Proposal</th>
            </tr>
            </thead>
            <tbody>
	            <th:block th:each="callForProposals : ${callsForProposals}">
	            <tr>
	            	<td style="text-align:center" th:text="${callForProposals.title}" />
	            	<td style="text-align:center" th:text="${#calendars.format(callForProposals.createdOn,'M/dd/yyyy hh:mm:ss a')}" />
	            	<td style="text-align:center" th:text="${callForProposals.repo.title}" />
	            	<td style="text-align:center">
	            		<div class="btn-group btn-group-sm">
    						<a th:href="|@{/callforproposals/view/}${callForProposals.title}|" class="btn btn-default">View</a>
    						<a th:href="|@{/callforproposals/edit/}${callForProposals.title}|" class="btn btn-default">Edit</a>
    						<a th:href="|@{/callforproposals/edit/}${callForProposals.title}|" class="btn btn-default">Delete</a>
  						</div>
	            	</td>
	          
	            </tr>
	            </th:block>
            </tbody>
            
        </table>
		<script type="application/javascript">
		$(document).ready(function() {
			$('#callForProposals').DataTable();
		} );
		}
		</script>
		<p th:if="${callsForProposals.size() == 0}">
			<div class="alert alert-warning" role="alert">No Call for Proposals Found.</div>
		</p>
		</div>
	</div>
	
</body>
</html>