<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

	<head th:replace="layouts/fragments :: head-all"></head>

<body>

	<div th:replace="layouts/navigation :: nav-private"></div>

	<!-- Page Content -->
    <div class="container">
		<div class="col-lg-12">
				<h2 class="page-header">
				<span class="glyphicon glyphicon-bullhorn"/>
					Call for Proposals <a th:if="${#authorization.expression('hasAuthority(''CFP_CREATE_PRIVILEGE'')')} 
						OR ${#authorization.expression('hasAuthority(''ROLE_SA'')')}"
						href="/callforproposals/create" class="btn btn-primary pull-right"
					role="button"><span class="glyphicon glyphicon-pencil" /> Create</a>
				</h2>

				<div class="well well-lg">

					<table class="table table-responsive " id="customTable">
						<thead>
							<tr>
								<th style="text-align: right">Ascending|Descending Order</th>
							</tr>
						</thead>
						<tbody>
							<th:block th:each="callForProposals : ${callsForProposals}">
								<tr>
									<td> 
										<div class="panel panel-body panel-default no-margin">
	 										<div class="pull-right">
		 										<span class="glyphicon glyphicon-calendar"/>
												<span th:text="${#calendars.format(callForProposals.createdOn,'dd/MM/yyyy')}" />
											</div>
											<a th:href="|@{/callforproposals/read/}${callForProposals.id}|">
											<h4 th:text="${callForProposals.title}" /></a>
											<span class="label label-default" style="margin-right: 10px">
												<th:block th:if="${callForProposals.repo.owner} != null">
													<span th:if="${#authentication.getPrincipal().getUser().getEmail()} == ${callForProposals.repo.owner.Email}" 
														class="glyphicon glyphicon-star" style="color:#fff06d" />
													<span class="glyphicon glyphicon-user" />
													<span th:text="|${callForProposals.repo.owner.firstName} ${callForProposals.repo.owner.lastName}|"/>
												</th:block>
											</span>
											<span class="label label-info"><span class="glyphicon glyphicon-folder-open"/> <span th:text="${callForProposals.repo.title}" /></span>
											<hr class="faded"/>
											<p th:text="${callForProposals.description}" />
											<hr />
											<div>
												<a th:href="|@{/callforproposals/read/}${callForProposals.id}|"
													class="btn btn-default btn-xs"><span class="glyphicon glyphicon-eye-open"/> View</a> 
												<a th:if="(${#authorization.expression('hasAuthority(''CFP_EDIT_PRIVILEGE'')')}
													AND ${#authentication.getPrincipal().getUser().getEmail()} == ${callForProposals.repo.owner.Email})
													OR ${#authorization.expression('hasAuthority(''ROLE_SA'')')}" 
													th:href="|@{/callforproposals/edit/}${callForProposals.id}|"
													class="btn btn-default btn-xs"><span class="glyphicon glyphicon-edit" /> Edit</a> 
												<a th:if="(${#authorization.expression('hasAuthority(''CFP_DELETE_PRIVILEGE'')')}
													AND ${#authentication.getPrincipal().getUser().getEmail()} == ${callForProposals.repo.owner.Email})
													OR ${#authorization.expression('hasAuthority(''ROLE_SA'')')}" 
													class="btn btn-danger btn-xs" 
													th:onclick="'javascript:deleteModal(\'' 
													+ ${callForProposals.id} + ','
													+ ${callForProposals.title} + ',' 
													+ ${callForProposals.description} + ','
													+ ${callForProposals.repo.title} + ','
													+ ${callForProposals.getProposals().size()}
													+ '\');'" >
													<span class="glyphicon glyphicon-trash" /> Delete</a>	
											</div>
										</div>
									</td>

								</tr>
							</th:block>
						</tbody>
					</table>
					

					<p th:if="${callsForProposals.size() == 0}">
						<div class="alert alert-warning" role="alert">No Call for Proposals found.</div>
					</p>


					<!-- DELETE MODAL -->
					<div id="confirmDelete" class="modal fade" tabindex="-1"
						role="dialog">
	
						<div class="modal-dialog" role="document">
							<div class="modal-content">
								<div class="modal-header"
									style="padding: 20px 15px; background-color: #d9534f; color: white !important; ">
									<button type="button" class="close" data-dismiss="modal"
										aria-label="Close">
										<span aria-hidden="true">&times;</span>
									</button>
									<h3 class="modal-title">
										Warning...  
									</h3>
								</div>
	
								<div class="modal-body">
									<p class="text-left">You are about to delete the following:</p>
									<table class="table table-bordered table-round text-left">
										<tr>
							                <td class="active text-center" colspan="2"><h4><strong>CALL FOR PROPOSAL</strong></h4></td>
							            </tr>
										<tr>
											<td class=" col-md-3 active">Title</td>
											<td><span id="cfp_title" /></td>
										</tr>
										<tr>
											<td class="active">Description</td>
											<td><span id="cfp_description" /></td>
										</tr>
										<tr>
											<td class="active">Repository</td>
											<td><span id="cfp_repo" /></td>
										</tr>
										<tr>
											<td class="active"># of Proposals</td>
											<td><span id="cfp_proposals" /></td>
										</tr>
									</table>
	
								</div>
	
								<div class="modal-footer" style="background-color: #f9f9f9;">
									<a type="button" class="btn btn-default" data-dismiss="modal">Cancel</a>
									<a id="delete_btn" type="button" class="btn btn-danger"  >
									
									<span class="glyphicon glyphicon-trash" /> Continue with Delete</a>
								</div>
	
							</div>
							<!-- /.modal-content -->
						</div>
						<!-- /.modal-dialog -->
					</div>
					<!-- /.modal -->

		
			</div>
			
		</div>		
	</div>
	
	<div th:replace="layouts/fragments :: bodybottom-scripts-min"></div>
	<footer th:replace="layouts/fragments :: footer"></footer>
	<div th:replace="layouts/datatable :: data-table"></div>
		
	<script>
		function deleteModal(obj) {
			
			var arr = obj.split(',');
			var id=arr[0];
			var title=arr[1];
			var description=arr[2];
			var repo=arr[3];
			var proposals=arr[4];
			
			document.getElementById("cfp_title").innerHTML = title;
			document.getElementById("cfp_description").innerHTML = description;
			document.getElementById("cfp_repo").innerHTML = repo;
			document.getElementById("cfp_proposals").innerHTML = proposals;
	
			document.getElementById("delete_btn").href = '/callforproposals/deleteconfirmed/' + id;
			$('#confirmDelete').modal('show');
		}
	</script>

</body>
</html>