<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

	<head th:replace="layouts/fragments :: head-all"></head>

<body>

	<div th:replace="layouts/navigation :: nav-private"></div>

	<!-- Page Content -->
    <div class="container">
		<div class="col-lg-12">
				<h2 class="page-header">
					Call for Proposals <a href="/callforproposals/create"
						class="btn btn-primary btn-lg" role="button">Create</a>
				</h2>

				<div class="well well-lg">

					<table class="table  table-hover table-responsive  cell-border" id="cfpTable">
						<thead>
							<tr>
								<th style="text-align: center">Title</th>
								<th style="text-align: center">Created On</th>
								<th style="text-align: center">Associated Repository</th>
								<th style="text-align: center">Action</th>
							</tr>
						</thead>
						<tbody>
							<th:block th:each="callForProposals : ${callsForProposals}">
								<tr>
									<td th:text="${callForProposals.title}" />
									<td th:text="${#calendars.format(callForProposals.createdOn,'dd/MM/yyyy')}" />
									<td th:text="${callForProposals.repo.title}" />
									<td style="text-align: center">
										<div class="btn-group btn-group-sm">
											<a th:href="|@{/callforproposals/read/}${callForProposals.id}|"
												class="btn btn-default"><span class="glyphicon glyphicon-eye-open"/> View</a> 
											<a th:href="|@{/callforproposals/edit/}${callForProposals.id}|"
												class="btn btn-default"><span class="glyphicon glyphicon-edit" /> Edit</a> 
											<a class="btn btn-danger" data-toggle="modal" data-target="#confirmDelete">
												<span class="glyphicon glyphicon-trash" /> Delete</a>
										</div>

										<!-- DELETE MODAL -->
										<div id="confirmDelete" class="modal fade" tabindex="-1"
											role="dialog">

											<div class="modal-dialog" role="document">
												<div class="modal-content">
													<div class="modal-header"
														style="padding: 20px 15px; background-color: red; color: white !important;">
														<button type="button" class="close" data-dismiss="modal"
															aria-label="Close">
															<span aria-hidden="true">&times;</span>
														</button>
														<h2 class="modal-title">
															<span class="glyphicon glyphicon-exclamation-sign" /> 
															Warning  
														</h2>
													</div>

													<div class="modal-body">
														<p class="text-left">You are about to delete the following:</p>
														
														<table class="table table-bordered table-round text-left">
															<tr>
												                <td class="active text-center" colspan="2"><h4><strong>CALL FOR PROPOSAL</strong></h4></td>
												            </tr>
															<tr>
																<td class="col-md-4 active">Title</td>
																<td><span th:text="${callForProposals.title}" /></td>
															</tr>
															<tr>
																<td class="active">Description</td>
																<td><span th:text="${callForProposals.description}" /></td>
															</tr>
															<tr>
																<td class="active">Repository</td>
																<td><span th:text="${callForProposals.repo.title}" /></td>
															</tr>
														</table>
													</div>

													<div class="modal-footer" style="background-color: #f9f9f9;">
														<a type="button" class="btn btn-primary" data-dismiss="modal">Cancel</a>
														<a type="button" class="btn btn-default" th:href="|@{/callforproposals/deleteconfirmed/}${callForProposals.id}|">
														<span class="glyphicon glyphicon-trash" /> Continue with Delete</a>
													</div>

												</div>
												<!-- /.modal-content -->
											</div>
											<!-- /.modal-dialog -->
										</div>
										<!-- /.modal -->										
									
									</td>
								</tr>
							</th:block>
						</tbody>
		
					</table>
					
					<script>
						$(document).ready(function() {
							$('#cfpTable').DataTable()
						});
					</script>
					<p th:if="${callsForProposals.size() == 0}">
						<div class="alert alert-warning" role="alert">No Call for Proposals found.</div>
					</p>
		
			</div>
			
		</div>		
	</div>
	
	<div th:replace="layouts/fragments :: bodybottom-scripts-min"></div>
	<footer th:replace="layouts/fragments :: footer"></footer>

</body>
</html>