<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4" >

	<head th:fragment="head-all">
	
		<meta charset="utf-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
	
	  	<title>Data Reviews Online</title>
		<link rel="stylesheet" href="external/bootstrap/css/bootstrap.min.css" 
				th:href="@{/external/bootstrap/css/bootstrap.min.css}" />

		<link rel="stylesheet" href="external/bootstrap-select/css/bootstrap-select.css" 
			th:href="@{/external/bootstrap-select/css/bootstrap-select.css}" />
		<link rel="stylesheet" href="external/bootstrap-toggle/css/bootstrap-toggle.min.css" 
				th:href="@{/external/bootstrap-toggle/css/bootstrap-toggle.min.css}" />
		<link rel="stylesheet" href="external/datatables.net-bs/css/jquery.dataTables.min.css" 
				th:href="@{/external/datatables.net-bs/css/jquery.dataTables.min.css}" />
		<link rel="stylesheet" href="external/bootstrap-treeview/css/bootstrap-treeview.css" 
				th:href="@{/external/bootstrap-treeview/css/bootstrap-treeview.css}" />
		<link rel="stylesheet" href="css/custom.css" th:href="@{/css/custom.css}" />
	
		<script src="external/jquery/jquery-3.2.1.min.js"
				th:src="@{/external/jquery/jquery-3.2.1.min.js}" ></script>			
		<script src="external/bootstrap-select/js/bootstrap-select.js"
			th:src="@{/external/bootstrap-select/js/bootstrap-select.js}" ></script>
		<script src="external/bootstrap-toggle/js/bootstrap-toggle.min.js"
				th:src="@{/external/bootstrap-toggle/js/bootstrap-toggle.min.js}" ></script>
		<script src="external/datatables.net-bs/js/jquery.dataTables.min.js" 
				th:src="@{/external/datatables.net-bs/js/jquery.dataTables.min.js}" ></script>
	</head>  

	<head th:fragment="head-min">
	
		<meta charset="utf-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
	
 	  	<title>Data Reviews Online</title>
	  	<link rel="stylesheet" href="external/bootstrap/css/bootstrap.min.css" 
				th:href="@{/external/bootstrap/css/bootstrap.min.css}" />
		<link rel="stylesheet" href="css/custom.css" th:href="@{/css/custom.css}" />
		
		<script src="external/jquery/jquery-3.2.1.min.js"
				th:src="@{/external/jquery/jquery-3.2.1.min.js}" ></script>	
	</head>
  
  
  <body>
  
 	<header th:fragment="banner">
		<div class="jumbotron jumbotron-fluid text-center">
			<h1>Data Reviews Online</h1> 
		</div>
    </header> 
  
  	<div th:fragment="bodybottom-scripts-all">
		<script src="external/bootstrap/js/bootstrap.min.js"
				th:src="@{/external/bootstrap/js/bootstrap.min.js}" ></script>			
		<script src="external/bootstrap-select/js/bootstrap-select.min.js"
			th:src="@{/external/bootstrap-select/js/bootstrap-select.min.js}" ></script>
		<script src="external/bootstrap-toggle/js/bootstrap-toggle.min.js"
				th:src="@{/external/bootstrap-toggle/js/bootstrap-toggle.min.js}" ></script>
		<script src="external/jquery/jquery-3.2.1.min.js"
				th:src="@{/external/jquery/jquery-3.2.1.min.js}" ></script>	
		<script src="external/datatables.net-bs/js/jquery.dataTables.min.js" 
				th:src="@{/external/datatables.net-bs/js/jquery.dataTables.min.js}" ></script>
	</div>

  	<div th:fragment="bodybottom-scripts-min">
		<script src="external/bootstrap/js/bootstrap.min.js"
				th:src="@{/external/bootstrap/js/bootstrap.min.js}" ></script>	
		<script src="external/bootstrap-treeview/js/bootstrap-treeview.js"
				th:src="@{/external/bootstrap-treeview/js/bootstrap-treeview.js}" ></script>		
	</div>
	

	<footer th:fragment="footer">
		<p class="copyright">
			<div>
				Copyright &copy; 2017 <strong>Dareon.org</strong> | Disclaimer | Terms | Privacy | Feedback
				<br />
				This is a project of the eResearch Office, RMIT University
			</div>
		</p>
	</footer>

	
  </body>
</html>
