<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="layouts/fragments :: head-all"></head>

<style>

tbody {
    display:block;
    max-height:400px;
    overflow:auto;
}
thead, tbody tr {
    display:table;
    width:100%;
    table-layout:fixed;
}
thead {
    width: 100%;
}


</style>
 
<body>

	<div th:replace="layouts/navigation :: nav-private"></div>

	<!-- Page Content -->
	<div class="container">
		<div class="col-lg-12">

			<h2 class="page-header">
			<span class="glyphicon glyphicon-education"/>
			Set Level of Expertise</h2>

			<form class="form-horizontal" th:action="@{/expertise/setvalue}"
				th:object="${addExpertiseValueForm}" method="post">

				<div class="well well-lg">
					<div class="panel panel-default" style="margin-bottom:0px;">
						<table class="table table-responsive table-hover">
							<thead>
								<tr>
									<th class="col-xs-1">Code</th>
									<th class="col-xs-5">Classification</th>
									<th class="col-xs-5">Expertise</th>
								</tr>
							</thead>
							<tbody>
								<th:block th:each="index : ${#numbers.sequence(0,(#object.expertises.size() - 1))}">						
								<tr>
									<td class="col-xs-1"> 
										<label class="control-label text-left" th:text = "*{expertises[__${index}__].classification.code}"/>
									</td>
									<td class="col-xs-5"> 
										<label class="control-label text-left" th:text = "*{expertises[__${index}__].classification.name}"/>
										<input type="hidden" th:field="*{expertises[__${index}__].classification}" />
										<input type="hidden" th:field="*{expertises[__${index}__].user}" />									
									</td>
									<td class="col-xs-5">
										<label class="radio-inline" style="padding-top:0px;"><input type="radio" th:field="*{expertises[__${index}__].value}" th:value="1" th:text="Novice" /></label>
										<label class="radio-inline" style="padding-top:0px;"><input type="radio" th:field="*{expertises[__${index}__].value}" th:value="2" th:text="Advanced" /></label>
										<label class="radio-inline" style="padding-top:0px;"><input type="radio" th:field="*{expertises[__${index}__].value}" th:value="3" th:text="Competent" /></label>
										<label class="radio-inline" style="padding-top:0px;"><input type="radio" th:field="*{expertises[__${index}__].value}" th:value="4" th:text="Proficient" /></label>
										<label class="radio-inline" style="padding-top:0px;"><input type="radio" th:field="*{expertises[__${index}__].value}" th:value="5" th:text="Expert" /></label>									
									</td>
								</tr>
								</th:block>
							</tbody>
						</table>
					</div>
				</div>

			<div class="form-group">
					<div class="col-sm-4">
						<button type="button" class="btn btn-default"
							onClick="history.go(-1);return true;">
							<span class="glyphicon glyphicon-backward" /> Back
						</button>
						<button type="submit" class="btn btn-default">
							<span class="glyphicon glyphicon-save" /> Save
						</button>
						<button type="reset" class="btn btn-default">
							<span class="glyphicon glyphicon-refresh" /> Reset
						</button>
					</div>
				</div>
			</form>
		</div>
	</div>

	<div th:replace="layouts/fragments :: bodybottom-scripts-min"></div>
	<footer th:replace="layouts/fragments :: footer"></footer>

</body>
</html>