<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="layouts/fragments :: head-all"></head>

<body>

	<div th:replace="layouts/navigation :: nav-private"></div>

	<!-- Page Content -->
	<div class="container">
		<div class="col-lg-12">
			<h2 class="page-header">
			<span class="glyphicon glyphicon-tags"/> Classifications
			</h2>

			<div class="well well-lg" style="min-height: 550px;">
				<!-- CLASSIFICATIONS ADDED -->
				<div class="col-md-6 panel panel-default" style="padding: 1%;">
					<h4>Select a Classification:</h4>
					<div class="child panel panel-default"
						style="min-height: 53px; padding: 1%">
						<table id="selectable-tags" class="table">
						</table>
					</div>

					<div>
					<!-- HIDDEN FIELD -->
					<input id="selectable-output-id" type="hidden" class="form-control" />
						<a id="btn-create" th:href="@{/classification/create}" class="btn btn-default"> <span
							class="glyphicon glyphicon-file" /> Create
						</a> <a id="btn-edit" href=""
							onclick="this.href='/classification/edit/'+document.getElementById('selectable-output-id').value"
							class="btn btn-default disabled"> <span
							class="glyphicon glyphicon-edit" /> Edit
						</a> <a id="btn-delete" data-toggle="modal" data-target="#confirmDelete"
							class="btn btn-default disabled"> <span
							class="glyphicon glyphicon-trash"  /> Delete
						</a>
					</div>

					<div id="confirmDelete" class="modal fade" tabindex="-1"
						role="dialog">
						<div class="modal-dialog" role="document">
							<div class="modal-content">
								<div class="modal-header modal-delete">
									<button type="button" class="close" data-dismiss="modal"
										aria-label="Close">
										<span aria-hidden="true">&times;</span>
									</button>
									<h3 class="modal-title">
										Warning...  
									</h3>
								</div>
								<div class="modal-body">
									<p>You are about to delete the following Classification:</p>
									<p>
										<strong><span class="glyphicon glyphicon-remove-sign" />
											<span id="selectable-output-text" /></strong>
									</p>
								</div>
								<div class="modal-footer" style="background-color: #f9f9f9;">
									<a type="button" class="btn btn-default" data-dismiss="modal">Cancel</a>
									<a type="button" class="btn btn-default" href=""
										onclick="this.href='/classification/deleteconfirmed/'+document.getElementById('selectable-output-id').value"><span
										class="glyphicon glyphicon-trash" /> Continue with Delete</a>
								</div>
							</div>
							<!-- /.modal-content -->
						</div>
						<!-- /.modal-dialog -->
					</div>
					<!-- /.modal -->
				</div>

		<!-- TREE VIEW PANEL -->
		<div class="col-md-6">
		<div class="child panel panel-default" 
			style="min-height: 500px; max-height: 500px; background-color: #000054; ">

			<div style="padding: 2%; height: 100%">
				<div class="form-group" style="text-align: left">

					<div class="input-group" >
						<input type="text" id="input-select-node" class="form-control"
							placeholder="Search for classification..." style="height: 35px" />
						<span class="input-group-addon" style="height: 35px"><span id="badge-search-size" 
						class="badge" style="background: black;">0 found</span><a class="btn btn-xs hidden" id="btn-search-swap-up" ><i 
						class="glyphicon glyphicon-chevron-up" /></a><a class="btn btn-xs hidden" id="btn-search-swap-down"><i	
						class="glyphicon glyphicon-chevron-down" /></a></span>
					</div>
				</div>
					
				<div class="form-group">
				  <button type="button" id="btn-expand" class="btn btn-default btn-sm" data-toggle="collapse" >
				  <span class="glyphicon glyphicon-plus" /> Expand All</button>
				</div>
				
				<div id="treeview-selectable" class="form-group"
					style="padding:0px; text-align: left; overflow-x: scroll; height: 390px">
				</div>
			
			</div>
		</div>
		</div>
		<!-- END OF TREEVIEW PANEL -->
		
			</div>

		</div>
	</div>

	<div th:replace="layouts/fragments :: bodybottom-scripts-min"></div>
	<footer th:replace="layouts/fragments :: footer"></footer>

	<script th:inline="javascript">

  		$(function() {
  			
        var defaultData = [[${classificationTree}]];
        
        var searchswap = 0;

        var initSelectableTree = function() {
            return $('#treeview-selectable').treeview({
              levels: 1,
  			  data: defaultData,
              multiSelect: false,
              onNodeSelected: function(event, node) {
            	  	
            	  $('#btn-create').addClass('disabled');
                	$('#btn-edit').removeClass('disabled');
                	if(node.tags == 0)
                		$('#btn-delete').removeClass('disabled');
            	  
            	  $('#selectable-output-id').val(function(i, v) {
            		    var arr = v.split(',');
            		    arr.push(node.id);
            		    return arr.join(',').replace(/(^,)|(,$)/g, "");
            		});
              
            	  $('#selectable-output-text').html(node.text);
            	  
            	  $('#selectable-output-text').val(function(i, v) {
          		    var arr = v.split(',');
          		    arr.push(node.text);
          		    return arr.join(',').replace(/(^,)|(,$)/g, "");
          		});
              
            	  var table = document.getElementById("selectable-tags");
            	  var row=table.insertRow(table.rows.length);
            	  row.setAttribute("id","tag-"+node.id);
            	  row.setAttribute("style","background:#c1dff1")
                  var cell1=row.insertCell(0);
            	  cell1.setAttribute("style","max-width:95%;min-width:95%;border-bottom:solid thick;border-color:white");
                  var t1=document.createElement("span");
                      t1.innerHTML = node.text;
                      cell1.appendChild(t1);
                      
                  var cell2=row.insertCell(1);
                  cell2.setAttribute("style","max-width:95%; min-width:95%; border-bottom:solid thick; border-right:solid thick; border-color:white; text-align:right");
                  var t2=document.createElement("button");
                      t2.setAttribute("class","btn btn-default btn-xs glyphicon glyphicon-remove");
                      t2.onclick = function(){
                    	  $selectableTree.treeview('unselectNode', [node.nodeId]);
                    	  var row = document.getElementById("tag-"+node.id);
                    	    row.parentNode.removeChild(row);
                      }
                      cell2.appendChild(t2);
                       
              },
              onNodeUnselected: function (event, node) {

              	$('#btn-edit').addClass('disabled');
            	$('#btn-delete').addClass('disabled');
            	$('#btn-create').removeClass('disabled');

            	  $('#selectable-output-id').val(function(i, v) {
                    return $.grep(v.split(','), function(v) { 
                        return v != node.id; 
                    }).join(',');        
                });
                
                $('#selectable-output-text').val(function(i, v) {
                    return $.grep(v.split(','), function(v) { 
                        return v != node.text; 
                    }).join(',');        
                });
                
                $selectableTree.treeview('unselectNode', [node.nodeId]);
          	  var row = document.getElementById("tag-"+node.id);
          	    row.parentNode.removeChild(row);
          	    
          	    
              }
            });
          };
          var $selectableTree = initSelectableTree();
	        
          var findSelectableNodes = function() {
            return $selectableTree.treeview('search', [ $('#input-select-node').val(), 
            	{ ignoreCase: true, revealResults: true, exactMatch: false } ]);
          };
          
          var selectableNodes = findSelectableNodes();
          
          
			//Process search input key events          
            $('#input-select-node').on('keyup', function (e) {

            	selectableNodes = findSelectableNodes();
	            //$('.select-node').prop('disabled', !(selectableNodes.length >= 1));
	            if(!(selectableNodes.length >= 1)) {
	            	$('#badge-search-size').text("0 found");
	            	$('#btn-search-swap-up').addClass('hidden');
	            	$('#btn-search-swap-down').addClass('hidden');
	            } else {  
	            	$('#badge-search-size').text(selectableNodes.length + " found");
	            	$('#btn-search-swap-up').removeClass('hidden');
	            	$('#btn-search-swap-down').removeClass('hidden');
	            }
	            
	            var x = document.getElementsByClassName('search-result');
	            var parent = document.getElementById('treeview-selectable');
	            parent.scrollTop = x[0].offsetTop - parent.offsetTop;
				$('#btn-expand').html('<span class="glyphicon glyphicon-minus"></span> Collapse All'); 	            
	
			});
			// switches highlighted on search
            $('#btn-search-swap-down').on('click', function (e) {
            	selectableNodes = findSelectableNodes();
            	if((selectableNodes.length-1) > searchswap)
            		{
            		 var x = document.getElementsByClassName('search-result');
      	            var parent = document.getElementById('treeview-selectable');
      	            parent.scrollTop = x[++searchswap].offsetTop - parent.offsetTop;
            		}
              });

			$('#btn-search-swap-up').on('click', function (e) {
            	if(searchswap > 0)
            	{
            	var x = document.getElementsByClassName('search-result');
 	            var parent = document.getElementById('treeview-selectable');
 	            parent.scrollTop = x[--searchswap].offsetTop - parent.offsetTop;
            	}
              });


          
          // Expand | Collapse all
          $('#btn-expand span').parent().click(function () {
        	  if($('#btn-expand span').hasClass('glyphicon-plus'))
        	  {
        	     $('#btn-expand').html('<span class="glyphicon glyphicon-minus"></span> Collapse All'); 
				  var levels = $('#select-expand-all-levels').val();
		          $selectableTree.treeview('expandAll', { levels: levels, silent: $('#chk-expand-silent').is(':checked') });
        	  }
        	  else
        	  {      
        	      $('#btn-expand').html('<span class="glyphicon glyphicon-plus"></span> Expand All'); 
				  $selectableTree.treeview('collapseAll', { silent: $('#chk-expand-silent').is(':checked') });
        	  }
       	  }); 
          
  		});
  	</script>


</body>
</html>