<!DOCTYPE html>
<html lang="en">

	<head th:replace="layouts/fragments :: head"></head>

<body>

	<div th:replace="layouts/navigation:: nav-private"></div>
		
	<div layout:fragment="content">
		
	    <!-- Page Content -->
    <div class="container">

        <!-- Main Section -->
  
            <div class="col-lg-12">
                <h2 class="page-header">
					Dashboard
                </h2>
            </div>
            <div class="col-md-6">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4><i class="fa fa-fw fa-check"></i> Quick Guide</h4>
                    </div>
                    <div class="panel-body">
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque, optio corporis quae nulla aspernatur in alias at numquam rerum ea excepturi expedita tenetur assumenda voluptatibus eveniet incidunt dicta nostrum quod?</p>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque, optio corporis quae nulla aspernatur in alias at numquam rerum ea excepturi expedita tenetur assumenda voluptatibus eveniet incidunt dicta nostrum quod?</p>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque, optio corporis quae nulla aspernatur in alias at numquam rerum ea excepturi expedita tenetur assumenda voluptatibus eveniet incidunt dicta nostrum quod?</p>
                        <a href="#" class="btn btn-default">Learn More</a>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4><i class="fa fa-fw fa-gift"></i> You Repositories</h4>
                    </div>
                    <div class="panel-body">
                        
                        <p>Repository 1 </p>
                        <p>Repository 2 </p>
                        <p>Repository 3 </p>
                        <p>Repository 4 </p>
                        <a href="#" class="btn btn-primary">Create a repository</a>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4><i class="fa fa-fw fa-compass"></i> Your Call for Proposals</h4>
                    </div>
                    <div class="panel-body">
                        
                        <p>Call for Proposal 1 </p>
                        <p>Call for Proposal 2 </p>
                        <p>Call for Proposal 3 </p>
                        <p>Call for Proposal 4 </p>
                        <a href="#" class="btn btn-primary">Create a Call for Proposal</a>
                    </div>
                </div>
            </div>
  

     </div>
    <!-- /.container -->	
 	</div>

	<head th:replace="layouts/fragments :: footer"></head>

		
</body>
</html>