<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="layouts/fragments :: head-all"></head>

<body>

	<div th:replace="layouts/navigation :: nav-private"></div>

	<!-- Page Content -->
	<div class="container">
		<div class="col-lg-12">

			<h2 th:if="${repoForm.repo.title} == null" class="page-header">Create
				New Repository</h2>
			<h2 th:if="${repoForm.repo.title} != null" class="page-header">Update
				Repository</h2>

			<form class="form-horizontal" th:object="${repoForm.repo}"
				th:action="@{/repo/create}" method="post">

				<div class="well well-lg">

					<input type="hidden" th:field="*{id}" /> <input type="hidden"
						th:field="*{creator}" />

					<div class="form-group">
						<label class="col-sm-2 control-label" id="label-create">Title:</label>
						<div class="col-md-10">
							<input type="text" class="form-control" th:field="*{title}"
								required="true" />
						</div>
					</div>

					<div class="form-group">
						<label class="col-sm-2 control-label" id="label-create">Institution:</label>
						<div class="col-md-10">
							<input type="text" class="form-control" th:field="*{institution}"
								required="true" />
						</div>
					</div>

					<div class="form-group">
						<label class="col-sm-2 control-label" id="label-create">Definition:</label>
						<div class="col-md-10">
							<textarea class="form-control" rows="3" th:field="*{definition}"
								required="true">teaser</textarea>
						</div>
					</div>

					<div class="form-group">
						<label class="col-sm-2 control-label" id="label-create">Description:</label>
						<div class="col-md-10">
							<textarea class="form-control" rows="3" th:field="*{description}"
								required="true">body</textarea>
						</div>
					</div>

					<div class="form-group">
						<label class="col-sm-2 control-label" id="label-create">Select
							Owner:</label>
						<div class="col-md-10">
							<select class="selectpicker" data-live-search="true"
								th:field="*{owner}">
								<option th:each="user: ${users}" th:value="${user.id}"
									th:text="|${user.firstName} ${user.lastName}|" />
							</select>
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-2 control-label" id="label-create">Status:</label>
						<div class="col-md-10">
							<input type="checkbox" data-toggle="toggle" data-on="Online"
								data-off="Offline" data-onstyle="success" data-offstyle="danger"
								th:field="*{status}" />
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-2 control-label" id="label-create">Classifications:</label>
						<div class="col-md-10">
							
							<!-- PANEL BUTTON -->
							<div class="panel-group">
								<div class="panel panel-primary">
									
									
									<!-- TREEVIEW PANEL -->
								
										<div class="panel-body">
											<!-- TREEVIEW SEARCH -->
											
											<div class="col-sm-5">
												
												<input id="selectable-output-id" type="hidden"
													class="form-control" th:field="${repoForm.domains}" />
												<textarea id="selectable-output-text" class="form-control" rows="12" readonly="readonly" wrap="virtual" />
											</div>
											

											<!-- TREEVIEW SELECT -->
											<div class="col-md-6">
											
												
												<div class="form-group">
													<label for="input-select-node" class="sr-only" />
														<input type="input" class="form-control"
														id="input-select-node"
														placeholder="Search for classification..." />
														
														<div class="btn-group">
															<button type="button"
																class="btn btn-default select-node"
																id="btn-select-node"><span class="glyphicon glyphicon-backward" /></button>
															<button type="button"
																class="btn btn-default select-node"
																id="btn-unselect-node"><span class="glyphicon glyphicon-forward" /></button>
														</div>
														<!-- TREE VIEW -->
												<div id="treeview-selectable" class="pre-scrollable" />

												</div>
											
												
											</div>
										</div>
									
									<!-- END OF TREEVIEW PANEL -->
								</div>
							</div>


						</div>
					</div>
				</div>

				<div class="form-group">
					<div class="col-sm-4">
						<button type="submit" class="btn btn-default">
							<span class="glyphicon glyphicon-save" /> Save
						</button>
						<button type="reset" class="btn btn-default">
							<span class="glyphicon glyphicon-refresh" /> Reset
						</button>
						<button type="button" class="btn btn-default"
							onClick="history.go(-1);return true;">
							<span class="glyphicon glyphicon-remove" /> Cancel
						</button>
					</div>
				</div>

			</form>

		</div>
	</div>




	<div th:replace="layouts/fragments :: bodybottom-scripts-min"></div>
	<footer th:replace="layouts/fragments :: footer"></footer>


	<script th:inline="javascript">

  		$(function() {
  			
        var defaultData = [[${message}]];
        
        


        var initSelectableTree = function() {
            return $('#treeview-selectable').treeview({
              levels: 1,
  			data: defaultData,
              multiSelect: true,
              onNodeSelected: function(event, node) {
            	  $('#selectable-output-id').val(function(i, v) {
            		    var arr = v.split(',');
            		    arr.push(node.id);
            		    return arr.join(',').replace(/(^,)|(,$)/g, "");
            		    // or actually easier in this case:
            		    // return v ? v + ',' + value : value;
            		});
              //  $('#selectable-output').val($('#selectable-output').val() +  node.text + ' id: ' + node.id + ', ');
     
              
            	  $('#selectable-output-text').val(function(i, v) {
          		    var arr = v.split(',');
          		    arr.push(node.text);
          		    return arr.join(',').replace(/(^,)|(,$)/g, "");
          		    // or actually easier in this case:
          		    // return v ? v + ',' + value : value;
          		});
              
              
              
              },
              onNodeUnselected: function (event, node) {
                $('#selectable-output-id').val(function(i, v) {
                    return $.grep(v.split(','), function(v) { 
                        return v != node.id; 
                    }).join(',');        
                });
                
                $('#selectable-output-text').val(function(i, v) {
                    return $.grep(v.split(','), function(v) { 
                        return v != node.text; 
                    }).join(',');        
                });
                
                
              }
            });
          };
          var $selectableTree = initSelectableTree();

          var findSelectableNodes = function() {
            return $selectableTree.treeview('search', [ $('#input-select-node').val(), { ignoreCase: false, exactMatch: false } ]);
          };
          var selectableNodes = findSelectableNodes();

          //$selectableTree.treeview('selectNode', [9]);
          var pre = $.parseJSON([[${repoForm.pre}]]);
          //<![CDATA[
                     
          if(pre != null)
        	  {
        	  $selectableTree.treeview('expandAll');
              for(i=0;i<pre.length;i++) 
              {
            	  var myElement = $('li[data-for="'+pre[i]+'"]');  
            	  $selectableTree.treeview('selectNode', [myElement.data('nodeid')]);
              }
              $selectableTree.treeview('collapseAll');
        	  }
           
        	 
          
        //]]>
          //var test = $selectableTree.treeview('search', [pre[0]]);
          //$selectableTree.treeview('selectNode', test);
         // var test = $selectableTree.treeview('search', ['RMIT08']);
          //$selectableTree.treeview('selectNode', test);
           // Select/unselect/toggle nodes
          $('#input-select-node').on('keyup', function (e) {
            selectableNodes = findSelectableNodes();
            $('.select-node').prop('disabled', !(selectableNodes.length >= 1));
            var x = document.getElementsByClassName('search-result');
            document.getElementById('treeview-selectable').scrollTop = x[0].offsetTop;
          });

          $('#btn-select-node.select-node').on('click', function (e) {
            $selectableTree.treeview('selectNode', [ selectableNodes, { silent: $('#chk-select-silent').is(':checked') }]);
          });

          $('#btn-unselect-node.select-node').on('click', function (e) {
            $selectableTree.treeview('unselectNode', [ selectableNodes, { silent: $('#chk-select-silent').is(':checked') }]);
          });

          $('#btn-toggle-selected.select-node').on('click', function (e) {
            $selectableTree.treeview('toggleNodeSelected', [ selectableNodes, { silent: $('#chk-select-silent').is(':checked') }]);
          });



   

          // Check/uncheck all
          $('#btn-check-all').on('click', function (e) {
            $checkableTree.treeview('checkAll', { silent: $('#chk-check-silent').is(':checked') });
          });

          $('#btn-uncheck-all').on('click', function (e) {
            $checkableTree.treeview('uncheckAll', { silent: $('#chk-check-silent').is(':checked') });
          });

  		});
  	</script>



</body>
</html>