<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="layouts/fragments :: head-all"></head>

<body>

	<div th:replace="layouts/navigation :: nav-private"></div>

	<!-- Page Content -->
	<div class="container">
		<div class="col-lg-12">

			<h2 th:if="${repoForm.repo.title} == null" class="page-header">Create
				New Repository</h2>
			<h2 th:if="${repoForm.repo.title} != null" class="page-header">Update
				Repository</h2>

			<form class="form-horizontal" th:object="${repoForm.repo}"
				th:action="@{/repo/create}" method="post">

				<div class="well well-lg">

					<input type="hidden" th:field="*{id}" /> <input type="hidden"
						th:field="*{creator}" />

					<div class="form-group">
						<label class="col-sm-2 control-label" id="label-create">Title:</label>
						<div class="col-md-10">
							<input type="text" class="form-control" th:field="*{title}"
								required="true" />
						</div>
					</div>

					<div class="form-group">
						<label class="col-sm-2 control-label" id="label-create">Institution:</label>
						<div class="col-md-10">
							<input type="text" class="form-control" th:field="*{institution}"
								required="true" />
						</div>
					</div>

					<div class="form-group">
						<label class="col-sm-2 control-label" id="label-create">Definition:</label>
						<div class="col-md-10">
							<textarea class="form-control" rows="3" th:field="*{definition}"
								required="true">teaser</textarea>
						</div>
					</div>

					<div class="form-group">
						<label class="col-sm-2 control-label" id="label-create">Description:</label>
						<div class="col-md-10">
							<textarea class="form-control" rows="3" th:field="*{description}"
								required="true">body</textarea>
						</div>
					</div>

					<div class="form-group">
						<label class="col-sm-2 control-label" id="label-create">Select
							Owner:</label>
						<div class="col-md-10">
							<select class="selectpicker" data-live-search="true"
								th:field="*{owner}">
								<option th:each="user: ${users}" th:value="${user.id}"
									th:text="|${user.firstName} ${user.lastName}|" />
							</select>
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-2 control-label" id="label-create">Status:</label>
						<div class="col-md-10">
							<input type="checkbox" data-toggle="toggle" data-on="Online"
								data-off="Offline" data-onstyle="success" data-offstyle="danger"
								th:field="*{status}" />
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-2 control-label" id="label-create">Classifications:</label>
						<div class="col-md-10 container">
							<div class="child col-md-5 pre-scrollable panel panel-default"
								style="min-height: 200px; max-height: 500px; padding: 2%">


								<table id="selectable-tags" class="table">
									<tr>

										<th colspan="2"
											style="background: whitesmoke; border-bottom: solid; border-color: grey">
											Classifications Added:</th>
									</tr>
								</table>



							</div>
							<div class="child col-md-7 panel panel-default"
								style="min-height: 500px; max-height: 500px; background-color: lightslategray">



								<div>

									<input id="selectable-output-id" type="hidden"
										class="form-control" th:field="${repoForm.domains}" />




								</div>


								<!-- TREEVIEW SELECT -->
								<div style="padding: 2%; height: 100%">


									<div class="form-group" style="text-align: center">
									<a class="col-md-12">
									
									<input class="inputlg" id="input-select-node"
											placeholder="Search for classification..." /> 
									
									
											 <span id="badge-search-size" class="badge" style="background:black;">-</span>
									</a>
										

										<div class="btn-group centre">
											<button type="button" class="btn btn-default select-node"
												id="btn-select-node">
												<span class="glyphicon glyphicon-ok-sign" /> Add
												highlighted
											</button>
											<button type="button" class="btn btn-default select-node"
												id="btn-unselect-node">
												Remove highlighted <span
													class="glyphicon glyphicon-remove-sign" />
											</button>

										</div>
										<div>
											<br />
										</div>
										<!-- TREE VIEW -->
										<div id="treeview-selectable"
											style="text-align: left; overflow-x: scroll; height: 390px"></div>
										<!-- END OF TREEVIEW PANEL -->

									</div>



								</div>





							</div>

						</div>
					</div>
				</div>

				<div class="form-group">
					<div class="col-sm-4">
						<button type="submit" class="btn btn-default">
							<span class="glyphicon glyphicon-save" /> Save
						</button>
						<button type="reset" class="btn btn-default">
							<span class="glyphicon glyphicon-refresh" /> Reset
						</button>
						<button type="button" class="btn btn-default"
							onClick="history.go(-1);return true;">
							<span class="glyphicon glyphicon-remove" /> Cancel
						</button>
					</div>
				</div>

			</form>

		</div>
	</div>




	<div th:replace="layouts/fragments :: bodybottom-scripts-min"></div>
	<footer th:replace="layouts/fragments :: footer"></footer>


	<script th:inline="javascript">

  		$(function() {
  			
        var defaultData = [[${message}]];
        
        


        var initSelectableTree = function() {
            return $('#treeview-selectable').treeview({
              levels: 1,
  			data: defaultData,
              multiSelect: true,
              onNodeSelected: function(event, node) {
            	  $('#selectable-output-id').val(function(i, v) {
            		    var arr = v.split(',');
            		    arr.push(node.id);
            		    return arr.join(',').replace(/(^,)|(,$)/g, "");
            		    // or actually easier in this case:
            		    // return v ? v + ',' + value : value;
            		});
              //  $('#selectable-output').val($('#selectable-output').val() +  node.text + ' id: ' + node.id + ', ');
     
              
            	  $('#selectable-output-text').val(function(i, v) {
          		    var arr = v.split(',');
          		    arr.push(node.text);
          		    return arr.join(',').replace(/(^,)|(,$)/g, "");
          		    // or actually easier in this case:
          		    // return v ? v + ',' + value : value;
          		});
              
            	  var table = document.getElementById("selectable-tags");
            	  var row=table.insertRow(table.rows.length);
            	  row.setAttribute("id","tag-"+node.id);
            	  row.setAttribute("style","background:#c1dff1")
                  var cell1=row.insertCell(0);
            	  cell1.setAttribute("style","max-width:95%;min-width:95%;border-bottom:solid thin;border-left:solid thin;border-color:#6bb3dd");
                  var t1=document.createElement("span");
                      t1.innerHTML = node.text;
                      cell1.appendChild(t1);
                      
                  var cell2=row.insertCell(1);
                  cell2.setAttribute("style","max-width:95%;min-width:95%;border-bottom:solid thin;border-right:solid thin;border-color:#6bb3dd");
                  var t2=document.createElement("button");
                      t2.setAttribute("class","btn btn-default btn-xs glyphicon glyphicon-remove");
                      t2.onclick = function(){
                    	  $selectableTree.treeview('unselectNode', [node.nodeId]);
                    	  var row = document.getElementById("tag-"+node.id);
                    	    row.parentNode.removeChild(row);
                      }
                      cell2.appendChild(t2);
              
              },
              onNodeUnselected: function (event, node) {
                $('#selectable-output-id').val(function(i, v) {
                    return $.grep(v.split(','), function(v) { 
                        return v != node.id; 
                    }).join(',');        
                });
                
                $('#selectable-output-text').val(function(i, v) {
                    return $.grep(v.split(','), function(v) { 
                        return v != node.text; 
                    }).join(',');        
                });
                
                $selectableTree.treeview('unselectNode', [node.nodeId]);
          	  var row = document.getElementById("tag-"+node.id);
          	    row.parentNode.removeChild(row);
          	    
          	    
              }
            });
          };
          var $selectableTree = initSelectableTree();
        
          var findSelectableNodes = function() {
            return $selectableTree.treeview('search', [ $('#input-select-node').val(), { ignoreCase: true, exactMatch: false } ]);
          };
          var selectableNodes = findSelectableNodes();
          
          $('.select-node').prop('disabled', !(selectableNodes.length >= 1));
          //$selectableTree.treeview('selectNode', [9]);
          var pre = $.parseJSON([[${repoForm.pre}]]);
          //<![CDATA[
                     
          if(pre != null)
        	  {
        	  $selectableTree.treeview('expandAll');
              for(i=0;i<pre.length;i++) 
              {
            	  var myElement = $('li[data-for="'+pre[i]+'"]');  
            	  $selectableTree.treeview('selectNode', [myElement.data('nodeid')]);
              }
              $selectableTree.treeview('collapseAll');
        	  }
           
        	 
          
        //]]>
          $('#input-select-node').on('keyup', function (e) {
            selectableNodes = findSelectableNodes();
            $('.select-node').prop('disabled', !(selectableNodes.length >= 1));
            var x = document.getElementsByClassName('search-result');
            var parent = document.getElementById('treeview-selectable');
            
            parent.scrollTop = x[0].offsetTop - parent.offsetTop;
            
            $('#badge-search-size').text(selectableNodes.length+ " found");
         
           // $('#select-count').val('disabled', !(selectableNodes.length >= 1));
           
            
            	
            
            
          });

          $('#btn-select-node.select-node').on('click', function (e) {
            $selectableTree.treeview('selectNode', [ selectableNodes, { silent: $('#chk-select-silent').is(':checked') }]);
          });

          $('#btn-unselect-node.select-node').on('click', function (e) {
            $selectableTree.treeview('unselectNode', [ selectableNodes, { silent: $('#chk-select-silent').is(':checked') }]);
          });

          $('#btn-toggle-selected.select-node').on('click', function (e) {
            $selectableTree.treeview('toggleNodeSelected', [ selectableNodes, { silent: $('#chk-select-silent').is(':checked') }]);
          });



   

          // Check/uncheck all
          $('#btn-check-all').on('click', function (e) {
            $checkableTree.treeview('checkAll', { silent: $('#chk-check-silent').is(':checked') });
          });

          $('#btn-uncheck-all').on('click', function (e) {
            $checkableTree.treeview('uncheckAll', { silent: $('#chk-check-silent').is(':checked') });
          });

  		});
  	</script>



</body>
</html>