<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

	<head th:replace="layouts/fragments :: head-min"></head>

<body>

	<div th:replace="layouts/fragments :: nav-private"></div>

	    <!-- Page Content -->
    <div class="container">

		<div class="col-lg-12">
			<h1 class="page-header">Delete Repository?:</h1>
		</div>


		<div>
			<label class="col-sm-2 control-label">Title:</label>
			<div class="col-md-10">
				<p th:text="${repo.title}" />
			</div>
		</div>

		<div>
			<label class="col-sm-2 control-label">Date Created:</label>
			<div class="col-md-10">
				<p
					th:text="${#calendars.format(repo.createdOn,'M/dd/yyyy hh:mm:ss a')}" />
			</div>
		</div>

		<div>
			<label class="col-sm-2 control-label">Institution:</label>
			<div class="col-md-10">
				<p th:text="${repo.institution}" />
			</div>
		</div>
		<div>
			<label class="col-sm-2 control-label">Definition:</label>
			<div class="col-md-10">
				<p th:text="${repo.definition}" />
			</div>
		</div>
		<div>
			<label class="col-sm-2 control-label">Description:</label>
			<div class="col-md-10">
				<p th:text="${repo.description}" />
			</div>
		</div>

		<!-- Need better implementation -->

		<th:block th:if="${repo.status} == true">
			<div>
				<label class="col-sm-2 control-label"> Activity Status:</label>
				<div class="col-md-10">
					<p>True</p>
				</div>
			</div>
		</th:block>
		<th:block th:if="${repo.status} == false">
			<div>
				<label class="col-sm-2 control-label"> Activity Status:</label>
				<div class="col-md-10">
					<p>False</p>
				</div>
			</div>
		</th:block>

		<div>
			<div class="col-sm-offset-2 col-sm-10">
				<a th:href="|@{/repo/deleteconfirmed/}${repo.id}|" class="btn btn-default">Confirm</a>
				<a th:href="|@{/repo/list/}|" class="btn btn-default">Cancel</a>
			</div>
		</div>

	</div>

	<head th:replace="layouts/fragments :: footer"></head>

</body>

</html>