<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

	<head th:replace="layouts/fragments :: head-all"></head>

<style>	
hr.faded { 
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
	}

table.dataTable {
  width: 100%;
  clear: both;
  border-spacing: 10px;
  }
  
  table.dataTable thead td {
    border-top: 0px ;
    border-bottom: 0px ; 
    }
    
  table.dataTable tbody td {
    border-top: 0px;
    border-bottom: 0px;
    }


.badge {
  font-weight: bold;
}
.badge-red {
  background-color: #b94a48;
}
.badge-green {
  background-color: #468847;
}

</style>


<body>

	<div th:replace="layouts/navigation :: nav-private"></div>

	<!-- Page Content -->
    <div class="container">
		<div class="col-lg-12">
			<h2 class="page-header">
				Repositories <a th:if="${#authorization.expression('hasAuthority(''REPO_CREATE_PRIVILEGE'')')} 
					OR ${#authorization.expression('hasAuthority(''ROLE_SA'')')}" 
					href="/repo/create" class="btn btn-primary pull-right"
					role="button"><span class="glyphicon glyphicon-pencil" /> Create</a>
			</h2>

			<div class="well well-lg">

					<table class="table table-responsive" id="repoTable">
						<thead>
							<tr>
								<th style="text-align: right">Ascending|Descending Order</th>
							</tr>
						</thead>
						<tbody>
							<th:block th:each="repo : ${repos}">
								<tr>
									<td> 
										<span class="pull-right" th:text="${#calendars.format(repo.createdOn,'dd/MM/yyyy')}" />
										<a th:href="|@{/repo/read/}${repo.id}|"><h4 th:text="${repo.title}" /></a>
										<span class="label label-info">
											<th:block th:if="${repo.owner} != null">
												<span th:if="${#authentication.getPrincipal().getUser().getEmail()} == ${repo.owner.Email}" 
													class="glyphicon glyphicon-star" />
												<span th:text="|${repo.owner.firstName} ${repo.owner.lastName}|"/>
											</th:block>
										</span>
										<hr class="faded"/>
										<p th:text="${repo.shortDescription}" /> 
										<p>
											<div>
												<a th:href="|@{/repo/read/}${repo.id}|"
													class="btn btn-default btn-xs"><span class="glyphicon glyphicon-eye-open"/> View</a> 
												<a th:if="(${#authorization.expression('hasAuthority(''REPO_EDIT_PRIVILEGE'')')} 
													AND ${#authentication.getPrincipal().getUser().getEmail()} == ${repo.owner.Email})
													OR ${#authorization.expression('hasAuthority(''ROLE_SA'')')}" 
													th:href="|@{/repo/edit/}${repo.id}|"
													class="btn btn-default btn-xs"><span class="glyphicon glyphicon-edit" /> Edit</a> 
												<a th:if="(${#authorization.expression('hasAuthority(''REPO_DELETE_PRIVILEGE'')')} 
													AND ${#authentication.getPrincipal().getUser().getEmail()} == ${repo.owner.Email})
													OR ${#authorization.expression('hasAuthority(''ROLE_SA'')')}" 
													class="btn btn-danger btn-xs" th:onclick="'javascript:deleteModal(\'' 
													+ ${repo.id} + ','
													+ ${repo.title} + ',' 
													+ ${repo.shortDescription} + ','
													+ |${repo.owner.firstName} ${repo.owner.lastName}| + ','
													+ ${repo.getcFPs().size()}
													+ '\');'" >
													<span class="glyphicon glyphicon-trash" /> Delete</a>	
												<a th:if="(${#authorization.expression('hasAuthority(''CFP_CREATE_PRIVILEGE'')')} 
													AND ${#authentication.getPrincipal().getUser().getEmail()} == ${repo.owner.Email})
													OR ${#authorization.expression('hasAuthority(''ROLE_SA'')')}" 
													th:href="|@{/callforproposals/create/}${repo.id}|"
													class="btn btn-primary btn-xs"><span class="glyphicon glyphicon-pencil"/> Create CFP</a>
											</div>	
											<span class="badge badge-green pull-right" th:if="${repo.status} == true" >Online</span>
											<span class="badge badge-red pull-right" th:if="${repo.status} == false" >Offline</span>							
										</p>
									</td>

								</tr>
							</th:block>
						</tbody>
		
					</table>
					<script>

					$(document).ready(function() {
						$('#repoTable').DataTable()
					});
					
					</script>
					
					<p th:if="${repos.size() == 0}">
						<div class="alert alert-warning" role="alert">No Repositories found.</div>
					</p>

					<!-- DELETE MODAL -->
					<div id="confirmDelete" class="modal fade" tabindex="-1"
						role="dialog">
	
						<div class="modal-dialog" role="document">
							<div class="modal-content">
								<div class="modal-header"
									style="padding: 20px 15px; background-color: #d9534f; color: white !important; ">
									<button type="button" class="close" data-dismiss="modal"
										aria-label="Close">
										<span aria-hidden="true">&times;</span>
									</button>
									<h3 class="modal-title">
										Warning...  
									</h3>
								</div>
	
								<div class="modal-body">
									<p class="text-left">You are about to delete the following:</p>
									<table class="table table-bordered table-round text-left">
										<tr>
							                <td class="active text-center" colspan="2"><h4><strong>REPOSITORY</strong></h4></td>
							            </tr>
										<tr>
											<td class=" col-md-3 active">Title</td>
											<td><span id="repo_title" /></td>
										</tr>
										<tr>
											<td class="active">Description</td>
											<td><span id="repo_description" /></td>
										</tr>
										<tr>
											<td class="active">Owner</td>
											<td><span id="repo_owner" /></td>
										</tr>
										<tr>
											<td class="active"># of CFPs</td>
											<td><span id="repo_CFPs" /></td>
										</tr>
									</table>
	
								</div>
	
								<div class="modal-footer" style="background-color: #f9f9f9;">
									<a type="button" class="btn btn-default" data-dismiss="modal">Cancel</a>
									<a id="delete_btn" type="button" class="btn btn-danger"  >
									
									<span class="glyphicon glyphicon-trash" /> Continue with Delete</a>
								</div>
	
							</div>
							<!-- /.modal-content -->
						</div>
						<!-- /.modal-dialog -->
					</div>
					<!-- /.modal -->

			</div>

		</div>
	</div>

	<div th:replace="layouts/fragments :: bodybottom-scripts-min"></div>
	<footer th:replace="layouts/fragments :: footer"></footer>
	
	<script>
		function deleteModal(repo) {
			
			var arrRepo = repo.split(',');
			var id=arrRepo[0];
			var title=arrRepo[1];
			var description=arrRepo[2];
			var owner=arrRepo[3];
			var CFPs=arrRepo[4];
			
			document.getElementById("repo_title").innerHTML = title;
			document.getElementById("repo_description").innerHTML = description;
			document.getElementById("repo_owner").innerHTML = owner;
			document.getElementById("repo_CFPs").innerHTML = CFPs;
	
			document.getElementById("delete_btn").href = '/repo/deleteconfirmed/' + id;
			$('#confirmDelete').modal('show');
		}
	</script>

</body>
</html>