<!DOCTYPE html>
<html lang="en"
	xmlns:th="http://www.thymeleaf.org"
	layout:decorator="layouts/main">
<head>
	<title>List Repos</title>
</head>
<body>
		
	<div layout:fragment="content">
		
		<table class="table table-hover" id="repos">
            <thead>
            <tr>
                <th style="text-align:center">Title</th>
                <th style="text-align:center">Created On</th>
                <th style="text-align:center">Assigned Owner</th>
                <th style="text-align:center">Owner's email</th>
                <th style="text-align:center">Manage repository</th>
            </tr>
            </thead>
            <tbody>
	            <th:block th:each="repo : ${repos}">
	            <tr>
	            	<td style="text-align:center" th:text="${repo.title}" />
	            	<td style="text-align:center" th:text="${#calendars.format(repo.createdOn,'M/dd/yyyy hh:mm:ss a')}" />
	            	<th:block th:if="${repo.user} != null">
	            		<td style="text-align:center" th:text="|${repo.user.firstName} ${repo.user.lastName}|" />
	            		<td style="text-align:center" th:href="|mailto:${repo.user.email}|" ><a th:text="|${repo.user.email}|"></a></td>
	            	</th:block>
	            	<th:block th:if="${repo.user} == null">
	            		<td style="text-align:center"> -- </td>
	            		<td style="text-align:center"> No repository owner assigned </td>
	            	</th:block>
	            	<td style="text-align:center">
	            		<a th:href="|@{/repo/view/}${repo.title}|">View</a>/<a th:href="|@{/repo/edit/}${repo.title}|">Edit</a>/<a th:href="|@{/repo/edit/}${repo.title}|">Delete</a>
	            	</td>
	          
	            </tr>
	            </th:block>
            </tbody>
            
        </table>
		<script type="application/javascript">
		$(document).ready(function() {
			$('#repos').DataTable();
		} );
		}
		</script>
		<p th:if="${repos.size() == 0}">
			<div class="alert alert-warning" role="alert">No Repositories Found.</div>
		</p>
		
	</div>
	
</body>
</html>