<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

	<head th:replace="layouts/fragments :: head-treeview"></head>

<body>

	<div th:replace="layouts/navigation :: nav-private"></div>

	<!-- Page Content -->
    <div class="container">
    <div class="col-lg-12">

			<h2 th:if="${repo.title} == null" class="page-header">Create New Repository</h2>
			<h2 th:if="${repo.title} != null" class="page-header">Update Repository</h2>

			<form class="form-horizontal" th:object="${repo}"
					th:action="@{/repo/create}" method="post">

				<div class="well well-lg">
	
						<input type="hidden" th:field="*{id}" /> <input type="hidden"
							th:field="*{creator}" />
		
						<div class="form-group">
							<label class="col-sm-2 control-label"  id="label-create">Title:</label>
							<div class="col-md-10">
								<input type="text" class="form-control" th:field="*{title}" required="true" />
							</div>
						</div>
			
						<div class="form-group">
							<label class="col-sm-2 control-label"  id="label-create">Institution:</label>
							<div class="col-md-10">
								<input type="text" class="form-control" th:field="*{institution}" required="true" />
							</div>
						</div>
		
						<div class="form-group">
							<label class="col-sm-2 control-label"  id="label-create">Definition:</label>
							<div class="col-md-10">
								<textarea class="form-control" rows="3" th:field="*{definition}" required="true" >teaser</textarea>
							</div>
						</div>
		
						<div class="form-group">
							<label class="col-sm-2 control-label"  id="label-create">Description:</label>
							<div class="col-md-10">
								<textarea class="form-control" rows="3" th:field="*{description}" required="true" >body</textarea>
							</div>
						</div>
			
						<div class="form-group">
							<label class="col-sm-2 control-label"  id="label-create">Select Owner:</label>
							<div class="col-md-10">
								<select class="selectpicker" data-live-search="true" th:field="*{owner}">
									<option th:each="user: ${users}" th:value="${user.id}"
										th:text="|${user.firstName} ${user.lastName}|" />
								</select>
							</div>
						</div>
			
						<div class="form-group">
							<label class="col-sm-2 control-label"  id="label-create">Status:</label>
							<div class="col-md-10">
								<input type="checkbox" data-toggle="toggle" data-size="small"
									th:field="*{status}" />
							</div>
						</div>
	
					</div>
				
	
				<div class="form-group">
					<div class="col-sm-4">
						<button type="submit" class="btn btn-default"><span class="glyphicon glyphicon-save"/> Save</button>
						<button type="reset" class="btn btn-default"><span class="glyphicon glyphicon-refresh"/> Reset</button>
						<button type="button" class="btn btn-default" onClick="history.go(-1);return true;" ><span class="glyphicon glyphicon-remove"/> Cancel</button>
					</div>
				</div>
			
			</form>

		</div>
		<div class="col-lg-12">
			
      <div class="row">
        <hr />
        <h2>Selectable Tree</h2>
        <div class="col-sm-4">
          <h2>Input</h2>
          <div class="form-group">
            <label for="input-select-node" class="sr-only">Search Tree:</label>
            <input type="input" class="form-control" id="input-select-node" placeholder="Identify node..." />
          </div>
          <div class="checkbox">
            <label>
              <input type="checkbox" class="checkbox" id="chk-select-silent" value="false" />
              Silent (No events)
            </label>
          </div>
          <div class="form-group">
              <button type="button" class="btn btn-success select-node" id="btn-select-node">Select Node</button>
          </div>
          <div class="form-group">
            <button type="button" class="btn btn-danger select-node" id="btn-unselect-node">Unselect Node</button>
          </div>
          <div class="form-group">
            <button type="button" class="btn btn-primary select-node" id="btn-toggle-selected">Toggle Node</button>
          </div>
        </div>
        <div class="col-sm-4">
          <h2>Tree</h2>
          <div id="treeview-selectable" class="pre-scrollable"></div>
        </div>
        <div class="col-sm-4">
          <h2>Events</h2>
          <div id="selectable-output"></div>
        </div>
      </div>





			
      	</div>
     </div>
			

	

	<div th:replace="layouts/fragments :: bodybottom-scripts-treeview"></div>
	<footer th:replace="layouts/fragments :: footer"></footer>


  	<script th:inline="javascript">

  		$(function() {
  			
        var defaultData = [[${message}]];


        var initSelectableTree = function() {
            return $('#treeview-selectable').treeview({
              levels: 1,
  			data: defaultData,
              multiSelect: true,
              onNodeSelected: function(event, node) {
                $('#selectable-output').prepend('<p>' + node.text + ' id: ' + node.id + ' was selected</p>');
              },
              onNodeUnselected: function (event, node) {
                $('#selectable-output').prepend('<p>' + node.text + ' id: ' + node.id + ' was unselected</p>');
              }
            });
          };
          var $selectableTree = initSelectableTree();

          var findSelectableNodes = function() {
            return $selectableTree.treeview('search', [ $('#input-select-node').val(), { ignoreCase: false, exactMatch: false } ]);
          };
          var selectableNodes = findSelectableNodes();

           // Select/unselect/toggle nodes
          $('#input-select-node').on('keyup', function (e) {
            selectableNodes = findSelectableNodes();
            $('.select-node').prop('disabled', !(selectableNodes.length >= 1));
          });

          $('#btn-select-node.select-node').on('click', function (e) {
            $selectableTree.treeview('selectNode', [ selectableNodes, { silent: $('#chk-select-silent').is(':checked') }]);
          });

          $('#btn-unselect-node.select-node').on('click', function (e) {
            $selectableTree.treeview('unselectNode', [ selectableNodes, { silent: $('#chk-select-silent').is(':checked') }]);
          });

          $('#btn-toggle-selected.select-node').on('click', function (e) {
            $selectableTree.treeview('toggleNodeSelected', [ selectableNodes, { silent: $('#chk-select-silent').is(':checked') }]);
          });



   

          // Check/uncheck all
          $('#btn-check-all').on('click', function (e) {
            $checkableTree.treeview('checkAll', { silent: $('#chk-check-silent').is(':checked') });
          });

          $('#btn-uncheck-all').on('click', function (e) {
            $checkableTree.treeview('uncheckAll', { silent: $('#chk-check-silent').is(':checked') });
          });

  		});
  	</script>



</body>
</html>