<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

	<head th:replace="layouts/fragments :: head-all"></head>


<style>	
hr.faded { 
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
	}

table.dataTable {
  width: 100%;
  clear: both;
  border-spacing: 10px;
  }
  
  table.dataTable thead td {
    border-top: 0px ;
    border-bottom: 0px ; 
    }
    
  table.dataTable tbody td {
    border-top: 0px;
    border-bottom: 0px;
    }
</style>	


<body>

	<div th:replace="layouts/navigation :: nav-private"></div>

	<!-- Page Content -->
    <div class="container">
		<div class="col-lg-12">
				<h2 class="page-header">
					Proposals <a th:if="${#authorization.expression('hasAuthority(''PROPOSAL_CREATE_PRIVILEGE'')')}" href="/proposal/create" class="btn btn-primary pull-right"
					role="button"><span class="glyphicon glyphicon-pencil" /> Create</a>
				</h2>

				<div class="well well-lg">

					<table class="table table-responsive" id="proposalTable">
						<thead>
							<tr>
								<th style="text-align: right">Ascending|Descending Order</th>
							</tr>
						</thead>
						<tbody>
							<th:block th:each="proposal : ${proposals}">
								<tr>
									<td> 
										<span class="pull-right" th:text="${#calendars.format(proposal.createdOn,'dd/MM/yyyy')}" />
										<a th:href="|@{/proposal/read/}${proposal.id}|">
										<h4 th:text="${proposal.title}" /></a>
										<span class="label label-info" th:text="${proposal.cfp.repo.title}" /> \
										<span class="label label-info" th:text="${proposal.cfp.title}" />
										<hr class="faded"/>
										<span th:text="${proposal.description}" />
										<p>
											<a th:href="|@{/proposal/read/}${proposal.id}|"
												class="btn btn-default btn-xs"><span class="glyphicon glyphicon-eye-open"/> View</a> 
											<a th:if="${#authorization.expression('hasAuthority(''PROPOSAL_EDIT_PRIVILEGE'')')}" 
												th:href="|@{/proposal/edit/}${proposal.id}|"
												class="btn btn-default btn-xs"><span class="glyphicon glyphicon-edit" /> Edit</a> 
											<a th:if="${#authorization.expression('hasAuthority(''PROPOSAL_EDIT_PRIVILEGE'')')}" 
												class="btn btn-danger btn-xs" 
												th:onclick="'javascript:deleteModal(\'' 
													+ ${proposal.id} + ','
													+ ${proposal.title} + ',' 
													+ ${proposal.description} + ','
													+ ${proposal.cfp.title} + ','
													+ ${proposal.cfp.repo.title}
													+ '\');'" >
												<span class="glyphicon glyphicon-trash" /> Delete</a>
										</p>
									</td>
								</tr>
							</th:block>
						</tbody>
		
					</table>
					
					<script>
						$(document).ready(function() {
							$('#proposalTable').DataTable()
						});
					</script>
					<p th:if="${proposals.size() == 0}">
						<div class="alert alert-warning" role="alert">No Proposals found.</div>
					</p>

					<!-- DELETE MODAL -->
					<div id="confirmDelete" class="modal fade" tabindex="-1"
						role="dialog">
	
						<div class="modal-dialog" role="document">
							<div class="modal-content">
								<div class="modal-header"
									style="padding: 20px 15px; background-color: #d9534f; color: white !important; ">
									<button type="button" class="close" data-dismiss="modal"
										aria-label="Close">
										<span aria-hidden="true">&times;</span>
									</button>
									<h3 class="modal-title">
										Warning...  
									</h3>
								</div>
	
								<div class="modal-body">
									<p class="text-left">You are about to delete the following:</p>
									<table class="table table-bordered table-round text-left">
										<tr>
							                <td class="active text-center" colspan="2"><h4><strong>PROPOSAL</strong></h4></td>
							            </tr>
										<tr>
											<td class=" col-md-3 active">Title</td>
											<td><span id="proposal_title" /></td>
										</tr>
										<tr>
											<td class="active">Description</td>
											<td><span id="proposal_description" /></td>
										</tr>
										<tr>
											<td class="active">Repository</td>
											<td><span id="proposal_repo" /></td>
										</tr>
										<tr>
											<td class="active">CFP</td>
											<td><span id="proposal_cfp" /></td>
										</tr>
									</table>
	
								</div>
	
								<div class="modal-footer" style="background-color: #f9f9f9;">
									<a type="button" class="btn btn-default" data-dismiss="modal">Cancel</a>
									<a id="delete_btn" type="button" class="btn btn-danger"  >
									
									<span class="glyphicon glyphicon-trash" /> Continue with Delete</a>
								</div>
	
							</div>
							<!-- /.modal-content -->
						</div>
						<!-- /.modal-dialog -->
					</div>
					<!-- /.modal -->						
		
			</div>
			
		</div>
				
	</div>
	
	<div th:replace="layouts/fragments :: bodybottom-scripts-min"></div>
	<footer th:replace="layouts/fragments :: footer"></footer>

	<script>
		function deleteModal(obj) {
			
			var arr = obj.split(',');
			var id=arr[0];
			var title=arr[1];
			var description=arr[2];
			var repo=arr[3];
			var cfp=arr[4];
			
			document.getElementById("proposal_title").innerHTML = title;
			document.getElementById("proposal_description").innerHTML = description;
			document.getElementById("proposal_repo").innerHTML = repo;
			document.getElementById("proposal_cfp").innerHTML = cfp;
	
			document.getElementById("delete_btn").href = '/proposal/deleteconfirmed/' + id;
			$('#confirmDelete').modal('show');
		}
	</script>

	
</body>
</html>