<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

	<head th:replace="layouts/fragments :: head-all"></head>

<body>

	<div th:replace="layouts/navigation :: nav-private"></div>

	<!-- Page Content -->
    <div class="container">
		<div class="col-lg-12">
				<h2 class="page-header">
				<span class="glyphicon glyphicon-inbox"/>
					Proposals <a th:if="${#authorization.expression('hasAuthority(''PROPOSAL_CREATE_PRIVILEGE'')')}
						OR ${#authorization.expression('hasAuthority(''ROLE_SA'')')}" 
						href="/proposal/create" class="btn btn-create pull-right"
						role="button"><span class="glyphicon glyphicon-pencil" /> Create</a>
				</h2>

				<div class="well well-lg">

					<table class="table table-responsive" id="customTable">
						<thead>
							<tr>
								<th style="text-align: right">Ascending|Descending Order</th>
							</tr>
						</thead>
						<tbody>
							<th:block th:each="proposal : ${proposals}">
								<tr>
									<td>
										<div class="panel panel-body panel-default no-margin"> 
											<a class="link-title" th:href="|@{/proposal/read/}${proposal.id}|">
											<h4 th:text="${proposal.title}" /></a>
											<span class="label label-owner">
												<th:block th:if="${proposal.creator} != null">
													<span th:if="${#authentication.getPrincipal().getUser().getEmail()} == ${proposal.creator.Email}" 
														class="glyphicon glyphicon-star" style="color:#fff06d" />
													<span class="glyphicon glyphicon-user" />
													<span th:text="|${proposal.creator.firstName} ${proposal.creator.lastName}|"/>
												</th:block>
											</span>
											<span class="label label-owner">
												<span class="glyphicon glyphicon-folder-open"/>
												<span th:text="${proposal.cfp.repo.title}" />
											</span>
											<span class="label label-owner">
												<span class="glyphicon glyphicon-bullhorn"/>
												<span th:text="${proposal.cfp.title}" />
											</span>
	 										<span class="label label-date">
		 										<span class="glyphicon glyphicon-calendar"/>
												<span th:text="${#calendars.format(proposal.createdOn,'dd/MM/yyyy')}" />
											</span>
											<hr class="faded"/>
											<span th:text="${proposal.description}" />
											<hr />
											<div>
												<a th:href="|@{/proposal/read/}${proposal.id}|"
													class="btn btn-default btn-xs"><span class="glyphicon glyphicon-eye-open"/> View</a> 
												<a th:if="(${#authorization.expression('hasAuthority(''PROPOSAL_EDIT_PRIVILEGE'')')}
													AND ${#authentication.getPrincipal().getUser().getEmail()} == ${proposal.creator.Email})
													OR ${#authorization.expression('hasAuthority(''ROLE_SA'')')}" 
													th:href="|@{/proposal/edit/}${proposal.id}|"
													class="btn btn-default btn-xs"><span class="glyphicon glyphicon-edit" /> Edit</a> 
												<a th:with='cleanedTitle=${#strings.replace(proposal.title, "&apos;", "\&apos;")},
													cleanedDescription=${#strings.replace(proposal.description, "&apos;", "\&apos;")},
													cleanedCfpTitle=${#strings.replace(proposal.cfp.title, "&apos;", "\&apos;")},
													cleanedRepoTitle=${#strings.replace(proposal.cfp.repo.title, "&apos;", "\&apos;")}'
													th:if="(${#authorization.expression('hasAuthority(''PROPOSAL_EDIT_PRIVILEGE'')')}
													AND ${#authentication.getPrincipal().getUser().getEmail()} == ${proposal.creator.Email})
													OR ${#authorization.expression('hasAuthority(''ROLE_SA'')')}" 
													class="btn btn-default btn-xs" 
													th:onclick="'javascript:deleteModal(\'' 
														+ ${proposal.id} + '-dareon_delimeter-'
														+ ${cleanedTitle} + '-dareon_delimeter-' 
														+ ${cleanedDescription} + '-dareon_delimeter-'
														+ ${cleanedCfpTitle} + '-dareon_delimeter-'
														+ ${cleanedRepoTitle}
														+ '\');'" >
													<span class="glyphicon glyphicon-trash" /> Delete</a>
											</div>
										</div>
									</td>
								</tr>
							</th:block>
						</tbody>
		
					</table>

					<p th:if="${proposals.size() == 0}">
						<div class="alert alert-warning" role="alert">No Proposals found.</div>
					</p>

					<!-- DELETE MODAL -->
					<div id="confirmDelete" class="modal fade" tabindex="-1"
						role="dialog">
	
						<div class="modal-dialog" role="document">
							<div class="modal-content">
								<div class="modal-header modal-delete">
									<button type="button" class="close" data-dismiss="modal"
										aria-label="Close">
										<span aria-hidden="true">&times;</span>
									</button>
									<h3 class="modal-title">
										Warning...  
									</h3>
								</div>
	
								<div class="modal-body">
									<p class="text-left">You are about to delete the following:</p>
									<table class="table table-bordered table-round text-left">
										<tr>
							                <td class="active text-center" colspan="2"><h4><strong>PROPOSAL</strong></h4></td>
							            </tr>
										<tr>
											<td class=" col-md-3 active">Title</td>
											<td><span id="proposal_title" /></td>
										</tr>
										<tr>
											<td class="active">Description</td>
											<td><span id="proposal_description" /></td>
										</tr>
										<tr>
											<td class="active">Repository</td>
											<td><span id="proposal_repo" /></td>
										</tr>
										<tr>
											<td class="active">CFP</td>
											<td><span id="proposal_cfp" /></td>
										</tr>
									</table>
	
								</div>
	
								<div class="modal-footer" style="background-color: #f9f9f9;">
									<a type="button" class="btn btn-default" data-dismiss="modal">Cancel</a>
									<a id="delete_btn" type="button" class="btn btn-default"  >
									
									<span class="glyphicon glyphicon-trash" /> Continue with Delete</a>
								</div>
	
							</div>
							<!-- /.modal-content -->
						</div>
						<!-- /.modal-dialog -->
					</div>
					<!-- /.modal -->						
		
			</div>
			
		</div>
				
	</div>
	
	<div th:replace="layouts/fragments :: bodybottom-scripts-min"></div>
	<footer th:replace="layouts/fragments :: footer"></footer>
	<div th:replace="layouts/datatable :: data-table"></div>
	
	<script>
		function deleteModal(obj) {
			
			var arr = obj.split('-dareon_delimeter-');
			var id=arr[0];
			var title=arr[1];
			var description=Shorten(arr[2],500);
			var repo=arr[3];
			var cfp=arr[4];
			
			document.getElementById("proposal_title").innerHTML = title;
			document.getElementById("proposal_description").innerHTML = description;
			document.getElementById("proposal_repo").innerHTML = repo;
			document.getElementById("proposal_cfp").innerHTML = cfp;
	
			document.getElementById("delete_btn").href = '/proposal/deleteconfirmed/' + id;
			$('#confirmDelete').modal('show');
		}
		
		function Shorten(text,maxLength) {
			if(text.length > maxLength) {
				var text_end = '...';
			} else {
				var text_end = '';
			} 
			
	        var reg = new RegExp('^(.{' + maxLength + '}[^\\s]*).*');
	        return text.replace(reg, "$1") + text_end;
		}

	</script>

	
</body>
</html>